<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- SQL Server Bağlantı Stringi -->
		<add name="ExpenseDbConnection"
			 connectionString="Server=DESKTOP-PTS6EQN;Database=ExpenseManagementDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Loglama üçün istifadə ediləcək log faylinin tam yolu -->
		<add key="LogFilePath" value="C:\Logs\error_log.json" />

		<!-- Timer üçün interval parametri -->
		<add key="TimerInterval" value="60000" />
		<!-- 60 saniyə (ms cinsindən) -->
	</appSettings>

	<system.web>
		<compilation debug="true" />
		<httpRuntime targetFramework="4.x" />
	</system.web>
</configuration>
